<ul>
    <li><a href="/rules" class="{% if this.page.id == 'rules' %}active{% endif %}">岗位职责</a></li>
    <li><a href="/rules/duty" class="{% if this.page.id == 'rules-duty' %}active{% endif %}">考勤制度</a></li>
    <li><a href="/rules/security" class="{% if this.page.id == 'rules-security' %}active{% endif %}">安全管理</a></li>
    <li><a href="/rules/material" class="{% if this.page.id == 'rules-material' %}active{% endif %}">物资管理</a></li>
    <li><a href="/rules/computer-room" class="{% if this.page.id == 'rules-computer-room' %}active{% endif %}">机房管理</a></li>
    <li><a href="/rules/detail" class="{% if this.page.id == 'rules-detail' %}active{% endif %}">工作细则</a></li>
</ul>