title = "news"
url = "/news"
layout = "tute"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "news"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news"
postPage = "news/detail"
==
{% set posts = blogPosts.posts %}
<content class="container news">
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for post in posts %}
                <li>
                    <div class="title">
                        <small class="list-icon">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </small>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <span class="date">{{ post.published_at|date('Y-m-d') }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if posts.lastPage > 1 %}
            <div class="text-center">
                <ul class="pagination">
                    {% if posts.currentPage > 1 %}
                    <li><a href="?page={{ posts.currentPage-1 }}">&larr;
                        上一页</a></li>
                    {% endif %}

                    {% for page in 1..posts.lastPage %}
                    <li class="{{ posts.currentPage == page ? 'active' : null }}">
                        <a href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endfor %}

                    {% if posts.lastPage > posts.currentPage %}
                    <li><a href="?page={{ posts.currentPage+1 }}">下一页
                        &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}

        </div>
    </div>
</content>